* {
  -webkit-user-select: none;
  -webkit-user-drag: none;
  cursor: default;
}

:root {
  color-scheme: light dark;
  --spacing: 20px;
  --grey-text: #888;
}

html, body {
  height: 100%;
  margin: 0;
  font: -apple-system-short-body;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--spacing);
  padding: 0 calc(var(--spacing) * 2);
  position: relative;
}

body:not(.platform-mac, .platform-ios) :is(.platform-mac, .platform-ios) {
    display: none;
}

body.platform-ios .platform-mac {
    display: none;
}

body.platform-mac .platform-ios {
    display: none;
}

body.platform-ios .platform-mac {
    display: none;
}

body:not(.state-on, .state-off) :is(.state-on, .state-off) {
    display: none;
}

body.state-on :is(.state-off, .state-unknown) {
    display: none;
}

body.state-off :is(.state-on, .state-unknown) {
    display: none;
}

button {
  font-size: 1em;
}

#localeSwitcher {
  display: flex;
  align-items: center;
  gap: 4px;
}

#version {
  position: absolute;
  bottom: var(--spacing);
  right: var(--spacing);
  margin: 0;
  font-size: 0.8em;
  color: var(--grey-text);
}
